[submodule "libs/hacklib"]
	path = libs/hacklib
	url = https://github.com/rafzi/hacklib.git
[submodule "libs/minidx9"]
	path = libs/minidx9
	url = https://github.com/hrydgard/minidx9.git
[submodule "libs/subhook"]
	path = libs/subhook
	url = https://github.com/Zeex/subhook.git
